node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store



# Logs
logs/
*.log

# Build directories
build/
dist/


# Environment Variables
.env
